.App {
  text-align: center;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.lefthalf{
 grid-column: 1 / 13 ;
 grid-row: 1 / 5;

}

.righthalf{

  color: #312d2d;
  grid-column: 11;
  grid-row: 1;
  z-index: 1;
}

h1, h2, h3, blockquote {
  color: #4e505e;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: x-large;
  font-style: normal;
}
h4 {
  color: #4e505e;
  font-family: Arial, sans-serif;
  font-weight: 700;
  font-size: medium;
  font-style: bold;
  padding-bottom: 0px;
  padding-top: 0px;

}
.bold{
  font-weight: 700;
}
.refinebutton{
  color: #ffffff;
  height: 20px;
  background: linear-gradient(109.46deg, rgba(33, 28, 63, 0.3) 1.57%, rgba(8, 14, 70, 0.411)100%);
  border: 0px solid #a3a3a3;
  backdrop-filter: blur(25px);
/* Note: backdrop-filter has minimal browser support */
  border-radius: 5px;
  margin-top: 10px;
}
fieldset{
  background-color: rgba(206, 206, 206, 0.3);
  border: none;
}
.circle-btn {
  background-color: rgba(150, 106, 57, 0.3); /* Set the background color */
  color: #fff; /* Set the text color */
  border: none; /* Remove the border */
  border-radius: 50%; /* Set the border radius to create a circle */
  width: 28px; /* Set the width and height of the button */
  height: 28px;
  font-size: 24px; /* Set the font size */
  cursor: pointer; /* Change the cursor to a pointer on hover */
  display: flex; /* Use flexbox to center the content */
  position:relative;
  left: 240px;
  top: 50px ;


}

.circle-btn span {
  font-size: 28px; /* Adjust the font size */
  font-weight: bold; /* Make the plus symbol bold */
}

.circle-btn .hover-text {
  position: relative;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 10px;
  color: #333;
  opacity: 0; /* Hide the text initially */
  transition: opacity 0.3s ease-in-out; /* Add a transition effect */
}

.circle-btn:hover .hover-text {
  opacity: 1; /* Show the text on hover */
}

.firstButton{
  grid-column: 11;
  grid-row: 2;
  z-index: 1;
}
.secondForm {
  grid-column: 11;
  grid-row: 2;
  z-index: -2;
}

.secondButton {
  grid-column: 11;
  grid-row: 3;
  z-index: -2;
}
.thirdForm {
  grid-column: 11;
  grid-row: 3;
  z-index: -2;
}

.librarybutton{
  grid-column: 12;
  grid-row: 1;
  z-index: 2;
  align-self:top;
}

select {
  border: none;
  border-radius: 4px;
  background-color: #f1f1f1;
  margin-left: 5px;
  font-family: Arial, sans-serif;
}

input {
  border: none;
  border-radius: 4px;
  background-color: #ffffff;
  margin-left: 5px;
  font-family: Arial, sans-serif;
}

#canvas{
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.overlaytext {
  color: hotpink;
  padding:2px;
  margin:20px;
}

.layout{
  position:absolute;
  width:100%;
  height:100px;
}

.dropdown{
  padding: 5px;

}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);

}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}



.container_row{
    display: grid;
  }
  
  .layer1, .layer2{
    grid-column: 1;
    grid-row: 1;
  }

.slidecontainer {
    width: 100%;
  }

.rect {
  border-radius: 5px;
  fill: #d3d3d3;
}
.ScoreChart{
  border-radius: 5px;
  fill: #d3d3d3;
}

.scale_left{
  position: relative;
  text-align: left;
  grid-column: 1;
  grid-row: 2;

}
.scale_middle{
  position: relative;
  text-align: left;
  grid-column: 1;
  grid-row: 2;
 }

.scale_right{
  position: relative;
  text-align: right;
  grid-column: 1;
  grid-row: 2;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 500px;
  height: 15px;
  border-radius: 5px;
  background: #fff47a;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}
.imprecision {
  rx: 5px;
  fill: #fff47a;
  outline: none;
  fill-opacity: 0.7;

}

.scorebackground {
  rx: 5px;
  outline: none;
  fill-opacity: 1;

}
.marketpointer{
  fill:  #3e96c9;
}

.resultpointer{
  fill:  #71bd4e;
}

  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }

  .standardpointer:hover{
    fill: red;
  }
  .standardpointer:hover text{
    display: block;
  }

  .standardpointer .hover-text {
    position: relative;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 10px;
    color: #333;
    opacity: 0; /* Hide the text initially */
    transition: opacity 0.3s ease-in-out; /* Add a transition effect */
  }
  
  .standardpointer:hover .hover-text {
    opacity: 1; /* Show the text on hover */
  }
  