.display_view{
  display: grid;
}

.background, .foreground{
  grid-column: 1;
  grid-row: 1;
}


.container_row{
    display: grid;
  }
  
  .layer1, .layer2{
    grid-column: 1;
    grid-row: 1;
  }

.slidecontainer {
    width: 100%;


  }

.rect {
  border-radius: 5px;
fill: #d3d3d3;
}

.slider {
  -webkit-appearance: none;
  width: 500px;
  height: 15px;
  border-radius: 5px;
  background: #fff47a;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

  
  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #04AA6D;
    cursor: pointer;
  }
  
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }